<a href="https://colab.research.google.com/github/VijayNale/incident_project/blob/master/Model_Incident2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train = pd.read_csv("/content/drive/My Drive/Incident/kaggle/train.csv")
test = pd.read_csv("/content/drive/My Drive/Incident/kaggle/test.csv")

In [0]:
train.drop(['Unnamed: 0','updated_at_d'], axis=1 , inplace =True)
test.drop(['Unnamed: 0','updated_at_d'], axis=1 , inplace =True)

In [8]:
train

            ID  ID_status  active  ...  notify  opened_time_d  created_at_d
0          0.0        6.0     1.0  ...     0.0           29.0          29.0
1          0.0        7.0     1.0  ...     0.0           29.0          29.0
2          0.0        5.0     0.0  ...     0.0           29.0          29.0
3          1.0        0.0     1.0  ...     0.0           29.0          29.0
4          1.0        0.0     1.0  ...     0.0           29.0          29.0
...        ...        ...     ...  ...     ...            ...           ...
99193  24567.0        7.0     1.0  ...     0.0           16.0           1.0
99194  24567.0        5.0     0.0  ...     0.0           16.0           1.0
99195  24568.0        0.0     1.0  ...     0.0           16.0           1.0
99196  24568.0        0.0     1.0  ...     0.0           16.0           1.0
99197  24568.0        7.0     1.0  ...     0.0           16.0           1.0

[99198 rows x 22 columns]

In [0]:
test

            ID  ID_status  active  ...  notify  opened_time_d  created_at_d
0          0.0        7.0     1.0  ...     0.0           29.0          29.0
1          1.0        6.0     1.0  ...     0.0           29.0          29.0
2          1.0        0.0     1.0  ...     0.0           29.0          29.0
3          1.0        7.0     1.0  ...     0.0           29.0          29.0
4          2.0        6.0     1.0  ...     0.0           29.0           1.0
...        ...        ...     ...  ...     ...            ...           ...
42509  19754.0        5.0     0.0  ...     0.0           13.0           1.0
42510  19755.0        6.0     1.0  ...     0.0           14.0           1.0
42511  19756.0        6.0     1.0  ...     0.0           15.0           1.0
42512  19757.0        6.0     1.0  ...     0.0           15.0           1.0
42513  19758.0        5.0     0.0  ...     0.0           16.0           1.0

[42514 rows x 21 columns]

In [0]:
## Get the Fraud and the normal dataset 
X = train.drop('impact', axis=1)
Y = train['impact']

In [0]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(sampling_strategy= 'all')
x,y=smote.fit_sample(X,Y)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
from collections import Counter
print('Original dataset shape {}'.format(Counter(train['impact'])))
print('Resampled dataset shape {}'.format(Counter(y)))  #second class size is 50% of first class

Original dataset shape Counter({1.0: 94034, 2.0: 2720, 0.0: 2444})
Resampled dataset shape Counter({1.0: 94034, 0.0: 94034, 2.0: 94034})

In [0]:
type(x)

numpy.ndarray

In [0]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)

Train = pd.concat([x,y], axis=1)

In [0]:
Train.columns = train.columns

In [0]:
Train.isnull().sum()

ID                    0
ID_status             0
active                0
count_reassign        0
count_opening         0
count_updated         0
ID_caller             0
opened_by             0
Created_by            0
updated_by            0
type_contact          0
location              0
category_ID           0
user_symptom          0
Support_group         0
support_incharge      0
Doc_knowledge         0
confirmation_check    0
impact                0
notify                0
opened_time_d         0
created_at_d          0
dtype: int64

In [0]:
from sklearn.model_selection import StratifiedShuffleSplit as sss
split = sss(n_splits = 5, test_size = 0.2, random_state = 42)
for train_index , test_index in split.split(Train.drop('impact',axis=1), Train['impact']):
    train_x = Train.loc[train_index]
    train_y = Train.loc[test_index]

In [0]:
train_x

             ID  ID_status  active  ...  notify  opened_time_d  created_at_d
132619   5096.0   6.000000     1.0  ...    17.0            1.0           0.0
15466    3056.0   0.000000     1.0  ...     3.0            3.0           1.0
89640   22029.0   6.000000     1.0  ...    19.0            1.0           1.0
96133   23800.0   2.000000     1.0  ...    30.0           30.0           1.0
70709   16866.0   3.000000     1.0  ...    30.0           30.0           1.0
...         ...        ...     ...  ...     ...            ...           ...
135061  20716.0   2.627045     1.0  ...    16.0           16.0           0.0
147386   6949.0   2.043140     1.0  ...    23.0           23.0           0.0
53674   12223.0   5.000000     0.0  ...     4.0            1.0           1.0
87990   21572.0   0.000000     1.0  ...    18.0           18.0           1.0
239875    870.0   4.652323     1.0  ...     3.0            3.0           2.0

[225681 rows x 22 columns]

In [0]:
y = train_x['impact']
X = train_x.drop(['impact'], axis = 1)

y_t = train_y['impact']
X_t = train_y.drop(['impact'], axis = 1)

In [0]:
X_t

                  ID  ID_status  ...  opened_time_d  created_at_d
191691  21360.398832   0.000000  ...       1.356248           2.0
28505    5849.000000   6.000000  ...      21.000000           0.0
61827   14352.000000   7.000000  ...      20.000000           0.0
65424   15388.000000   0.000000  ...      25.000000           1.0
64460   15105.000000   7.000000  ...      25.000000           1.0
...              ...        ...  ...            ...           ...
77727   18728.000000   5.000000  ...       1.000000           1.0
193510  18130.130462   0.000000  ...       5.000000           2.0
200050  23506.000000   2.062881  ...       1.000000           2.0
145002  18553.000000   6.000000  ...       5.000000           0.0
228546  14077.461124   6.091909  ...      18.545954           2.0

[56421 rows x 21 columns]

In [0]:
from sklearn.ensemble import RandomForestClassifier
RFmodel = RandomForestClassifier(n_jobs = 2, oob_score=True , n_estimators = 100, criterion = 'entropy')
RFmodel.fit(X , y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [0]:
  X_t['pred'] = RFmodel.predict(X_t)

  from sklearn.metrics import confusion_matrix, recall_score, precision_score , f1_score  , classification_report , accuracy_score
  def get_metrics(y_test, y_predicted):
      accuracy = accuracy_score(y_test, y_predicted)
      precision = precision_score(y_test, y_predicted, average='weighted')
      recall = recall_score(y_test, y_predicted, average='weighted')
      f1 = f1_score(y_test, y_predicted, average='weighted')
      return accuracy, precision, recall, f1
  accuracy, precision, recall, f1 = get_metrics(y_t , X_t['pred'])
  print("accuracy = %.3f \nprecision = %.3f \nrecall = %.3f \nf1 = %.3f" % (accuracy, precision, recall, f1))  #0.981

accuracy = 1.000
precision = 1.000
recall = 1.000
f1 = 1.000

In [0]:
print(confusion_matrix(y_t , X_t['pred']))
print(classification_report(y_t , X_t['pred']))  #98

[[56404     0]
 [    0    17]]
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     56404
         1.0       1.00      1.00      1.00        17

    accuracy                           1.00     56421
   macro avg       1.00      1.00      1.00     56421
weighted avg       1.00      1.00      1.00     56421

In [0]:
y = Train['impact']
X = Train.drop(['impact'], axis = 1)

In [0]:
X

                  ID  ID_status    active  ...  notify  opened_time_d  created_at_d
0           0.000000   6.000000  1.000000  ...    29.0      29.000000           1.0
1           0.000000   7.000000  1.000000  ...    29.0      29.000000           1.0
2           0.000000   5.000000  0.000000  ...    29.0      29.000000           1.0
3           1.000000   0.000000  1.000000  ...    29.0      29.000000           1.0
4           1.000000   0.000000  1.000000  ...    29.0      29.000000           1.0
...              ...        ...       ...  ...     ...            ...           ...
282097   1767.000000   0.000000  1.000000  ...     3.0       3.000000           2.0
282098   1181.028573   5.330837  0.330837  ...     3.0       2.338325           2.0
282099  17769.988072   5.000000  0.000000  ...     5.0       1.000000           2.0
282100    322.000000   6.000000  1.000000  ...     3.0       3.000000           2.0
282101   2022.000000   6.392380  1.000000  ...     3.0       3.000000           2.0

[282102 rows x 21 columns]

In [0]:
from sklearn.ensemble import RandomForestClassifier
RFmodel = RandomForestClassifier(n_jobs = 2, oob_score=True , n_estimators = 100, criterion = 'entropy')
RFmodel.fit(X , y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=True, random_state=None, verbose=0,
                       warm_start=False)

In [0]:
pred1= RFmodel.predict(X)
print(confusion_matrix(pred1, y))

[[282017      0]
 [     0     85]]

In [0]:
import pickle 
# Saving model to disk
pickle.dump(RFmodel, open('model.pkl','wb'))  #precompiled foremat model file

In [0]:
pred = RFmodel.predict(test)
pred = pd.DataFrame(pred)
sub_df=pd.read_csv('/content/drive/My Drive/Incident/Sample Submission.csv')
sub_df

          ID prediction1
0          1  2 - Medium
1          2  2 - Medium
2          3  2 - Medium
3          4  2 - Medium
4          5  2 - Medium
...      ...         ...
42509  42510     3 - Low
42510  42511     3 - Low
42511  42512     3 - Low
42512  42513     3 - Low
42513  42514  2 - Medium

[42514 rows x 2 columns]

In [0]:
pred[0].value_counts()

0.0    42482
1.0       32
Name: 0, dtype: int64

In [0]:
sub_df['prediction1'].value_counts()

2 - Medium    40301
3 - Low        2213
Name: prediction1, dtype: int64

In [0]:
datasets=pd.concat([sub_df['ID'],pred],axis=1)

datasets.columns=['Id','prediction1']
prediction2 = { 0.0:'2 - Medium',
                1.0:'3 - Low',
                2.0:'1 - High',
}
datasets['prediction1'] = datasets.prediction1.map(prediction2)
datasets.to_csv('/content/drive/My Drive/Incident/oversample_RF.csv',index=False)      #---score= 0.9478

In [0]:
datasets.prediction1.value_counts()

2 - Medium    42481
3 - Low          33
Name: prediction1, dtype: int64